<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Music_Visual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Music_Visual.Properties.Settings>
            <setting name="LineColor" serializeAs="String">
                <value>255,0,191,255</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BarWidth" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Skip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Take" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="visualType" serializeAs="String">
                <value>频域</value>
            </setting>
            <setting name="leftColor" serializeAs="String">
                <value>255,0,191,255</value>
            </setting>
            <setting name="rightColor" serializeAs="String">
                <value>255,0,191,255</value>
            </setting>
            <setting name="isLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="amplitude" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="smooth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deviation" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="margin" serializeAs="String">
                <value>0,0,0,50</value>
            </setting>
        </Music_Visual.Properties.Settings>
    </userSettings>
</configuration>